<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.example.meatshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeatShop">
        <activity android:name=".activities.admin.StaffListActivity"/>
        <activity android:name=".activities.admin.ProductionListActivity" />
        <activity android:name=".activities.admin.AddProductionUnitActivity" />
        <activity android:name=".activities.admin.AddStaffActivity" />
        <activity android:name=".activities.consumer.CategoryActivity" />
        <activity android:name=".activities.consumer.OrderSuccessActivity" />
        <activity android:name=".activities.consumer.CheckOutActivity" />
        <activity android:name=".activities.consumer.ProductDisplayActivity" />
        <activity android:name=".activities.admin.ProductActivity" />
        <activity android:name=".activities.admin.OrdersHistoryActivity" />
        <activity android:name=".activities.admin.PaymentHistoryActivity" />
        <activity android:name=".activities.admin.AddProductActivity" />
        <activity android:name=".activities.admin.AddDealerActivity" />
        <activity android:name=".activities.consumer.HomeActivity" />
        <activity android:name=".activities.consumer.SignUpActivity" />
        <activity android:name=".activities.admin.HomeActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>